In [1]:
import pandas as pd
import numpy as np
from IPython.display import Image
np.set_printoptions(precision = 3)

In [18]:
orig_data = pd.read_csv("jester-data-1.csv", header=None)

In [19]:
orig_data.head()

,0,1,2,3,4,5,6,7,8,9,...,91,92,93,94,95,96,97,98,99,100
0,74,-7.82,8.79,-9.66,-8.16,-7.52,-8.50,-9.85,4.17,-8.98,...,2.82,99.00,99.00,99.00,99.00,99.00,-5.63,99.00,99.00,99.00
1,100,4.08,-0.29,6.36,4.37,-2.38,-9.66,-0.73,-5.34,8.88,...,2.82,-4.95,-0.29,7.86,-0.19,-2.14,3.06,0.34,-4.32,1.07
2,49,99.00,99.00,99.00,99.00,9.03,9.27,9.03,9.27,99.00,...,99.00,99.00,99.00,9.08,99.00,99.00,99.00,99.00,99.00,99.00
3,48,99.00,8.35,99.00,99.00,1.80,8.16,-2.82,6.21,99.00,...,99.00,99.00,99.00,0.53,99.00,99.00,99.00,99.00,99.00,99.00
4,91,8.50,4.61,-4.17,-5.39,1.36,1.60,7.04,4.61,-0.44,...,5.19,5.58,4.27,5.19,5.73,1.55,3.11,6.55,1.80,1.60

In [20]:
#The first column gives the number of jokes rated by the user - we don't need that
orig_data.drop(0, axis=1, inplace=True)
orig_data.head()

,1,2,3,4,5,6,7,8,9,10,...,91,92,93,94,95,96,97,98,99,100
0,-7.82,8.79,-9.66,-8.16,-7.52,-8.50,-9.85,4.17,-8.98,-4.76,...,2.82,99.00,99.00,99.00,99.00,99.00,-5.63,99.00,99.00,99.00
1,4.08,-0.29,6.36,4.37,-2.38,-9.66,-0.73,-5.34,8.88,9.22,...,2.82,-4.95,-0.29,7.86,-0.19,-2.14,3.06,0.34,-4.32,1.07
2,99.00,99.00,99.00,99.00,9.03,9.27,9.03,9.27,99.00,99.00,...,99.00,99.00,99.00,9.08,99.00,99.00,99.00,99.00,99.00,99.00
3,99.00,8.35,99.00,99.00,1.80,8.16,-2.82,6.21,99.00,1.84,...,99.00,99.00,99.00,0.53,99.00,99.00,99.00,99.00,99.00,99.00
4,8.50,4.61,-4.17,-5.39,1.36,1.60,7.04,4.61,-0.44,5.73,...,5.19,5.58,4.27,5.19,5.73,1.55,3.11,6.55,1.80,1.60

In [29]:
data = orig_data.copy().values

In [30]:
valid_count = (int)(data.shape[0] * 0.1)

In [31]:
data[-valid_count:] = 99

In [33]:
print(data)

[[-7.82  8.79 -9.66 ... 99.   99.   99.  ]
 [ 4.08 -0.29  6.36 ...  0.34 -4.32  1.07]
 [99.   99.   99.   ... 99.   99.   99.  ]
 ...
 [99.   99.   99.   ... 99.   99.   99.  ]
 [99.   99.   99.   ... 99.   99.   99.  ]
 [99.   99.   99.   ... 99.   99.   99.  ]]

In [34]:
n_features = 10

latent_user_preferences = np.random.random((data.shape[0], n_features))
latent_jokes_features = np.random.random((data.shape[1], n_features))

In [35]:
print(latent_user_preferences.shape)
print(latent_jokes_features.shape)

(24983, 10)
(100, 10)

In [36]:
def predict_rating(user_id, joke_id):
    """ Predict a rating given a user_id and a joke_id.
    """
    user_preference = latent_user_preferences[user_id]
    joke_feature = latent_jokes_features[joke_id]
    
    return user_preference.dot(joke_feature)

def train(user_id, joke_id, rating, alpha = 0.0001):
    
    prediction_rating = predict_rating(user_id, joke_id)
    err =  (prediction_rating- rating);
    
    user_pref_values = latent_user_preferences[user_id][:]
    latent_user_preferences[user_id] -= alpha * err * latent_jokes_features[joke_id]
    latent_jokes_features[joke_id] -= alpha * err * user_pref_values
    
    return err
    

def sgd(iterations = 300000):
    """ Iterate over all users and all items and train for 
        a certain number of iterations
    """
    for iteration in range(0, iterations):
        error = []
        for user_id in range(0, latent_user_preferences.shape[0]):
            for joke_id in range(0, latent_jokes_features.shape[0]):
                rating = data[user_id][joke_id]
                if(rating != 99):
                    err = train(user_id, joke_id, rating)
                    error.append(err)
        mse = (np.array(error) ** 2).mean()   
        print(mse)

In [37]:
sgd(5)

25.39680898252591
24.733676205206116
24.670753451255507
24.611634041473067
24.55428730223652

In [38]:
sgd(5)

24.49769469238875
24.440981579454203
24.383262182942474
24.323478126661772
24.260202759040713

In [39]:
predictions = latent_user_preferences.dot(latent_jokes_features.T)
predictions

array([[1.023, 0.279, 0.638, ..., 1.121, 0.549, 1.871],
       [0.805, 0.355, 0.285, ..., 0.59 , 0.022, 1.3  ],
       [1.389, 0.356, 0.843, ..., 1.403, 0.222, 2.05 ],
       ...,
       [1.375, 0.454, 0.803, ..., 1.485, 0.096, 2.077],
       [1.095, 0.177, 0.49 , ..., 1.166, 0.154, 2.114],
       [0.901, 0.424, 0.303, ..., 0.785, 0.19 , 1.533]])

In [40]:
values = [zip(data[i], predictions[i]) for i in range(0,predictions.shape[0])]
comparison_data = pd.DataFrame(values)
comparison_data.columns = orig_data.columns
# Fixed the lambda to explicitly access tuple values
comparison_data.applymap(lambda x: "(%2.3f|%2.3f)"%(x[0],x[1]))

,1,2,3,4,5,6,7,8,9,10,...,91,92,93,94,95,96,97,98,99,100
0,(-7.820|1.023),(8.790|0.279),(-9.660|0.638),(-8.160|-1.034),(-7.520|0.448),(-8.500|1.908),(-9.850|-0.258),(4.170|-0.530),(-8.980|-0.572),(-4.760|1.379),...,(2.820|2.202),(99.000|1.493),(99.000|2.557),(99.000|1.223),(99.000|1.145),(99.000|1.592),(-5.630|2.019),(99.000|1.121),(99.000|0.549),(99.000|1.871)
1,(4.080|0.805),(-0.290|0.355),(6.360|0.285),(4.370|-1.105),(-2.380|0.421),(-9.660|1.233),(-0.730|-0.237),(-5.340|-0.416),(8.880|-0.412),(9.220|0.911),...,(2.820|1.567),(-4.950|0.915),(-0.290|1.797),(7.860|1.061),(-0.190|0.969),(-2.140|1.316),(3.060|1.407),(0.340|0.590),(-4.320|0.022),(1.070|1.300)
2,(99.000|1.389),(99.000|0.356),(99.000|0.843),(99.000|-1.560),(9.030|0.736),(9.270|2.614),(9.030|-0.168),(9.270|-0.786),(99.000|-0.698),(99.000|2.042),...,(99.000|2.645),(99.000|2.263),(99.000|3.391),(9.080|1.364),(99.000|1.430),(99.000|2.023),(99.000|2.681),(99.000|1.403),(99.000|0.222),(99.000|2.050)
3,(99.000|1.006),(8.350|0.422),(99.000|0.407),(99.000|-1.486),(1.800|0.543),(8.160|1.805),(-2.820|-0.275),(6.210|-0.609),(99.000|-0.604),(1.840|1.327),...,(99.000|1.965),(99.000|1.297),(99.000|2.397),(0.530|1.221),(99.000|1.218),(99.000|1.633),(99.000|1.966),(99.000|0.927),(99.000|0.124),(99.000|1.796)
4,(8.500|0.918),(4.610|0.650),(-4.170|0.474),(-5.390|-1.127),(1.360|0.462),(1.600|1.836),(7.040|-0.275),(4.610|-0.504),(-0.440|-0.283),(5.730|1.537),...,(5.190|2.367),(5.580|1.483),(4.270|2.986),(5.190|1.335),(5.730|0.917),(1.550|1.765),(3.110|1.756),(6.550|0.763),(1.800|-0.073),(1.600|1.349)
5,(-6.170|0.765),(-3.540|0.149),(0.440|0.294),(-8.500|-0.868),(-7.090|0.417),(-4.320|1.281),(-8.690|-0.183),(-0.870|-0.275),(-6.650|-0.231),(-1.800|1.205),...,(-3.540|1.935),(-6.890|1.074),(-0.680|2.316),(-2.960|1.174),(-2.180|0.725),(-3.350|1.240),(0.050|1.520),(-9.080|0.670),(-5.050|0.034),(-3.450|1.275)
6,(99.000|1.146),(99.000|0.200),(99.000|0.475),(99.000|-1.572),(8.590|0.640),(-9.850|1.893),(7.720|-0.418),(8.790|-0.447),(99.000|-0.567),(99.000|1.728),...,(99.000|2.784),(99.000|1.416),(99.000|3.239),(99.000|1.621),(99.000|1.493),(2.330|1.905),(99.000|2.323),(99.000|0.926),(99.000|0.376),(99.000|2.016)
7,(6.840|0.946),(3.160|0.270),(9.170|0.427),(-6.210|-1.138),(-8.160|0.449),(-1.700|1.619),(9.270|-0.316),(1.410|-0.340),(-5.190|-0.358),(-4.420|1.473),...,(7.230|2.396),(-1.120|1.213),(-0.100|2.794),(-5.680|1.371),(-3.160|1.170),(-3.350|1.679),(2.140|1.952),(-0.050|0.781),(1.310|0.447),(0.000|1.808)
8,(-3.790|1.312),(-3.540|0.421),(-9.420|0.484),(-6.890|-1.862),(-8.740|0.842),(-0.290|2.028),(-5.290|-0.350),(-8.930|-0.661),(-7.860|-0.716),(-1.600|1.658),...,(4.370|2.576),(-0.290|1.394),(4.170|3.161),(-0.290|1.773),(-0.290|1.575),(-0.290|2.295),(-0.290|2.136),(-0.290|1.094),(-3.400|-0.225),(-4.950|2.102)
9,(3.010|1.019),(5.150|0.392),(5.150|0.575),(3.010|-1.218),(6.410|0.596),(5.150|1.756),(8.930|-0.165),(2.520|-0.502),(3.010|-0.428),(8.160|1.497),...,(99.000|2.097),(4.470|1.402),(99.000|2.619),(99.000|1.176),(99.000|1.068),(99.000|1.570),(99.000|1.918),(99.000|0.877),(99.000|0.077),(99.000|1.518)
10,(-2.910|1.270),(4.080|0.587),(99.000|0.702),(99.000|-1.396),(-5.730|0.565),(99.000|2.530),(2.480|-0.418),(-5.290|-0.730),(99.000|-0.581),(1.460|1.902),...,(99.000|3.046),(6.170|2.223),(99.000|3.742),(99.000|1.691),(99.000|1.377),(99.000|2.336),(99.000|2.269),(99.000|1.180),(99.000|0.059),(99.000|1.731)
11,(1.310|0.813),(1.800|0.406),(2.570|0.199),(-2.380|-1.077),(0.730|0.277),(0.730|1.424),(-0.970|-0.468),(5.000|-0.503),(-7.230|-0.491),(-1.360|0.843),...,(1.460|1.844),(1.700|1.237),(0.290|2.099),(-3.300|1.284),(3.450|1.157),(5.440|1.832),(4.080|1.092),(2.480|0.577),(4.510|-0.137),(4.660|1.100)
12,(99.000|0.952),(99.000|0.589),(99.000|0.573),(99.000|-1.395),(5.870|0.631),(99.000|2.165),(5.580|-0.279),(0.530|-0.630),(99.000|-0.520),(7.140|1.795),...,(99.000|2.494),(99.000|1.445),(7.520|3.280),(99.000|1.371),(99.000|0.936),(99.000|1.716),(99.000|2.083),(99.000|1.163),(99.000|0.000),(99.000|1.756)
13,(9.220|0.948),(9.270|0.487),(9.220|0.585),(8.300|-1.186),(7.430|0.635),(0.440|1.837),(3.500|-0.182),(8.160|-0.470),(5.970|-0.351),(8.980|1.699),...,(8.110|2.339),(-1.020|1.305),(5.580|3.047),(6.840|1.290),(5.530|0.910),(-5.920|1.651),(8.200|1.884),(8.980|0.944),(-8.160|-0.023),(6.500|1.545)
14,(8.790|0.860),(-5.780|0.355),(6.020|0.309),(3.690|-1.056),(7.770|0.357),(-5.830|1.623),(8.690|-0.388),(8.590|-0.563),(-5.920|-0.535),(7.520|1.016),...,(2.720|1.857),(-5.490|1.390),(-8.590|2.277),(8.690|1.249),(-8.740|1.109),(-3.010|1.906),(8.300|1.138),(-4.810|0.791),(-2.380|-0.222),(-5.970|1.160)
15,(-3.500|0.756),(1.550|0.194),(2.330|0.468),(-4.130|-0.897),(4.220|0.407),(-2.280|1.469),(-2.960|-0.226),(-0.490|-0.370),(2.910|-0.360),(1.990|1.262),...,(3.110|1.891),(1.700|1.287),(0.240|2.280),(-5.920|0.938),(7.280|0.826),(-1.360|1.108),(3.740|1.613),(2.820|0.700),(-2.860|0.219),(3.450|1.054)
16,(99.000|0.969),(-9.270|0.560),(99.000|0.583),(99.000|-1.294),(-7.380|0.627),(99.000|1.914),(8.740|-0.263),(-6.310|-0.673),(99.000|-0.598),(2.330|1.388),...,(99.000|2.058),(99.000|1.427),(99.000|2.648),(99.000|1.234),(99.000|0.983),(99.000|1.642),(99.000|1.653),(99.000|1.019),(99.000|-0.261),(99.000|1.287)
17,(3.160|0.949),(7.620|0.181),(3.790|0.416),(8.250|-1.034),(4.220|0.481),(7.620|1.363),(2.430|-0.144),(0.970|-0.447),(0.530|-0.482),(0.830|0.956),...,(0.830|1.659),(5.680|1.163),(3.690|1.793),(0.190|1.111),(0.290|0.933),(3.590|1.139),(0.490|1.731),(8.060|0.821),(0.490|0.154),(7.620|1.480)
18,(4.220|0.957),(3.640|0.546),(99.000|0.554),(99.000|-1.346),(2.520|0.618),(99.000|1.908),(4.130|-0.361),(-5.190|-0.698),(99.000|-0.776),(7.910|1.211),...,(99.000|2.118),(0.050|1.121),(99.000|2.528),(99.000|1.415),(99.000|1.013),(99.000|1.589),(1.650|1.741),(99.000|1.234),(99.000|-0.004),(99.000|1.754)
19,(99.000|1.238),(7.620|0.242),(99.000|0.540),(99.000|-1.321),(-8.640|0.553),(2.430|1.866),(8.930|-0.246),(-6.600|-0.586),(99.000|-0.617),(-9.470|1.315),...,(99.000|2.193),(99.000|1.635),(99.000|2.475),(99.000|1.415),(99.000|1.408),(99.000|1.859),(99.000|2.088),(99.000|1.024),(99.000|0.243),(99.000|1.918)
20,(2.570|1.014),(-0.730|0.164),(99.000|0.645),(99.000|-1.292),(2.570|0.731),(99.000|1.772),(-4.220|-0.165),(2.670|-0.531),(99.000|-0.658),(-1.310|1.467),...,(99.000|2.053),(1.310|1.201),(99.000|2.513),(99.000|1.191),(99.000|1.023),(99.000|1.282),(1.020|2.036),(99.000|1.177),(99.000|0.173),(99.000|1.726)
21,(7.280|0.741),(5.390|0.037),(99.000|0.300),(99.000|-1.044),(-4.220|0.384),(99.000|1.377),(8.930|-0.420),(3.500|-0.409),(99.000|-0.543),(6.120|1.038),...,(99.000|1.858),(-1.550|1.253),(99.000|2.156),(99.000|1.071),(99.000|1.064),(99.000|1.345),(0.290|1.269),(-4.610|0.641),(99.000|0.011),(99.000|0.878)
22,(2.720|1.245),(4.170|0.683),(6.500|0.644),(-3.540|-1.405),(-3.300|0.645),(2.860|2.023),(7.040|-0.265),(4.950|-0.608),(6.170|-0.486),(8.930|1.599),...,(99.000|2.503),(-3.350|1.504),(99.000|3.060),(99.000|1.577),(99.000|1.395),(2.670|2.276),(99.000|2.015),(99.000|0.980),(99.000|0.045),(99.000|1.954)
23,(2.090|1.067),(-7.570|0.429),(4.170|0.668),(-8.400|-1.142),(-6.310|0.615),(5.340|1.988),(-5.190|-0.163),(-5.050|-0.584),(-8.200|-0.497),(2.280|1.583),...,(3.060|2.190),(8.250|1.526),(8.500|2.848),(-9.510|1.265),(8.450|1.075),(8.160|1.875),(7.820|1.818),(8.500|1.123),(8.350|0.003),(-8.350|1.665)
24,(-3.930|1.063),(-1.170|0.506),(2.280|0.530),(-0.440|-1.229),(-2.280|0.497),(2.380|1.973),(-3.930|-0.307),(4.510|-0.574),(-0.340|-0.435),(7.770|1.524),...,(99.000|2.495),(99.000|1.745),(99.000|2.974),(99.000|1.423),(99.000|1.068),(99.000|1.707),(-1.500|2.039),(-6.070|0.893),(1.260|0.044),(0.100|1.460)
25,(99.000|1.005),(5.490|0.411),(3.450|0.449),(99.000|-1.232),(0.150|0.349),(4.760|2.064),(0.100|-0.405),(4.130|-0.558),(8.010|-0.468),(4.760|1.561),...,(99.000|2.529),(99.000|1.808),(99.000|3.027),(99.000|1.361),(99.000|1.242),(99.000|1.885),(99.000|2.058),(99.000|0.893),(99.000|0.348),(99.000|1.661)
26,(99.000|0.942),(5.830|0.190),(99.000|0.210),(99.000|-1.318),(5.340|0.359),(99.000|1.709),(-4.470|-0.527),(2.180|-0.527),(-3.980|-0.579),(-3.250|1.182),...,(99.000|2.337),(99.000|1.596),(4.470|2.631),(99.000|1.476),(99.000|1.270),(99.000|1.768),(99.000|1.665),(99.000|0.735),(99.000|0.001),(99.000|1.315)
27,(0.490|0.855),(0.150|0.187),(0.150|0.524),(-9.560|-0.963),(-9.760|0.457),(-9.610|1.740),(0.290|-0.265),(1.650|-0.488),(-4.610|-0.569),(-4.710|1.286),...,(99.000|2.014),(99.000|1.238),(99.000|2.451),(99.000|1.168),(-0.970|0.945),(99.000|1.477),(99.000|1.659),(99.000|1.119),(99.000|0.300),(99.000|1.654)
28,(99.000|0.862),(99.000|0.348),(99.000|0.311),(99.000|-1.417),(-1.700|0.489),(99.000|1.699),(8.830|-0.496),(-1.890|-0.517),(99.000|-0.646),(99.000|1.269),...,(0.240|2.296),(99.000|1.056),(99.000|2.672),(99.000|1.455),(99.000|1.188),(99.000|1.662),(99.000|1.746),(99.000|0.911),(99.000|0.177),(99.000|1.719)
29,(99.000|1.050),(4.080|0.471),(99.000|0.386),(99.000|-1.736),(5.870|0.541),(99.000|2.261),(0.440|-0.596),(2.280|-0.780),(99.000|-0.828),(99.000|1.525),...,(99.000|2.651),(99.000|1.751),(99.000|3.176),(99.000|1.597),(99.000|1.380),(99.000|1.949),(99.000|2.062),(99.000|1.085),(99.000|-0.050),(99.000|1.626)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24953,(99.000|0.862),(99.000|0.386),(99.000|0.328),(99.000|-1.048),(99.000|0.286),(99.000|1.621),(99.000|-0.373),(99.000|-0.416),(99.000|-0.302),(99.000|1.307),...,(99.000|2.177),(99.000|1.520),(99.000|2.608),(99.000|1.199),(99.000|1.148),(99.000|1.783),(99.000|1.572),(99.000|0.547),(99.000|0.160),(99.000|1.217)
24954,(99.000|0.503),(99.000|0.042),(99.000|-0.012),(99.000|-1.032),(99.000|0.375),(99.000|0.757),(99.000|-0.310),(99.000|-0.215),(99.000|-0.332),(99.000|0.739),...,(99.000|1.375),(99.000|0.472),(99.000|1.576),(99.000|0.977),(99.000|0.718),(99.000|0.899),(99.000|1.005),(99.000|0.349),(99.000|-0.165),(99.000|0.884)
24955,(99.000|0.472),(99.000|0.246),(99.000|0.148),(99.000|-0.746),(99.000|0.132),(99.000|1.030),(99.000|-0.360),(99.000|-0.438),(99.000|-0.493),(99.000|0.423),...,(99.000|1.026),(99.000|0.880),(99.000|1.123),(99.000|0.678),(99.000|0.748),(99.000|0.980),(99.000|0.726),(99.000|0.474),(99.000|0.006),(99.000|0.630)
24956,(99.000|0.769),(99.000|0.211),(99.000|0.602),(99.000|-1.115),(99.000|0.660),(99.000|1.561),(99.000|-0.223),(99.000|-0.497),(99.000|-0.698),(99.000|1.234),...,(99.000|1.683),(99.000|0.739),(99.000|2.192),(99.000|0.998),(99.000|0.919),(99.000|1.291),(99.000|1.432),(99.000|1.147),(99.000|0.129),(99.000|1.540)
24957,(99.000|0.800),(99.000|0.349),(99.000|0.485),(99.000|-1.038),(99.000|0.384),(99.000|1.940),(99.000|-0.335),(99.000|-0.662),(99.000|-0.679),(99.000|1.192),...,(99.000|1.895),(99.000|1.452),(99.000|2.375),(99.000|1.087),(99.000|0.882),(99.000|1.467),(99.000|1.557),(99.000|1.169),(99.000|0.118),(99.000|1.430)
24958,(99.000|1.098),(99.000|0.437),(99.000|0.453),(99.000|-1.534),(99.000|0.607),(99.000|1.759),(99.000|-0.467),(99.000|-0.573),(99.000|-0.690),(99.000|1.299),...,(99.000|2.326),(99.000|1.184),(99.000|2.706),(99.000|1.557),(99.000|1.546),(99.000|2.142),(99.000|1.705),(99.000|0.880),(99.000|0.060),(99.000|1.782)
24959,(99.000|0.761),(99.000|0.355),(99.000|0.339),(99.000|-1.322),(99.000|0.459),(99.000|1.861),(99.000|-0.371),(99.000|-0.551),(99.000|-0.546),(99.000|1.484),...,(99.000|2.112),(99.000|1.270),(99.000|2.772),(99.000|1.163),(99.000|0.980),(99.000|1.586),(99.000|1.695),(99.000|0.951),(99.000|0.046),(99.000|1.501)
24960,(99.000|0.871),(99.000|0.131),(99.000|0.296),(99.000|-1.166),(99.000|0.399),(99.000|1.559),(99.000|-0.206),(99.000|-0.573),(99.000|-0.557),(99.000|1.008),...,(99.000|1.494),(99.000|1.503),(99.000|1.811),(99.000|0.917),(99.000|0.981),(99.000|1.241),(99.000|1.576),(99.000|0.790),(99.000|-0.082),(99.000|1.149)
24961,(99.000|0.656),(99.000|0.265),(99.000|0.245),(99.000|-0.905),(99.000|0.238),(99.000|1.246),(99.000|-0.243),(99.000|-0.356),(99.000|-0.318),(99.000|0.956),...,(99.000|1.446),(99.000|1.035),(99.000|1.755),(99.000|0.798),(99.000|0.927),(99.000|1.276),(99.000|1.298),(99.000|0.502),(99.000|0.249),(99.000|1.163)
24962,(99.000|0.721),(99.000|0.139),(99.000|0.355),(99.000|-0.924),(99.000|0.280),(99.000|1.404),(99.000|-0.389),(99.000|-0.381),(99.000|-0.472),(99.000|1.059),...,(99.000|1.732),(99.000|1.194),(99.000|2.083),(99.000|0.926),(99.000|1.189),(99.000|1.598),(99.000|1.191),(99.000|0.606),(99.000|0.287),(99.000|1.091)
24963,(99.000|1.125),(99.000|0.335),(99.000|0.590),(99.000|-1.315),(99.000|0.589),(99.000|1.998),(99.000|-0.426),(99.000|-0.578),(99.000|-0.635),(99.000|1.506),...,(99.000|2.711),(99.000|1.659),(99.000|3.091),(99.000|1.611),(99.000|1.242),(99.000|1.760),(99.000|2.074),(99.000|1.053),(99.000|0.144),(99.000|1.597)
24964,(99.000|0.874),(99.000|0.098),(99.000|0.406),(99.000|-1.406),(99.000|0.655),(99.000|1.639),(99.000|-0.288),(99.000|-0.481),(99.000|-0.616),(99.000|1.407),...,(99.000|2.174),(99.000|1.175),(99.000|2.553),(99.000|1.253),(99.000|0.873),(99.000|0.946),(99.000|2.097),(99.000|0.983),(99.000|0.083),(99.000|1.470)
24965,(99.000|0.768),(99.000|0.234),(99.000|0.355),(99.000|-0.919),(99.000|0.415),(99.000|1.459),(99.000|-0.068),(99.000|-0.325),(99.000|-0.176),(99.000|1.394),...,(99.000|1.871),(99.000|1.242),(99.000|2.360),(99.000|0.983),(99.000|0.619),(99.000|1.050),(99.000|1.845),(99.000|0.721),(99.000|0.150),(99.000|1.371)
24966,(99.000|1.128),(99.000|0.582),(99.000|0.719),(99.000|-1.188),(99.000|0.485),(99.000|2.244),(99.000|-0.273),(99.000|-0.642),(99.000|-0.477),(99.000|1.707),...,(99.000|2.515),(99.000|1.942),(99.000|3.124),(99.000|1.289),(99.000|1.223),(99.000|1.950),(99.000|2.135),(99.000|1.031),(99.000|0.271),(99.000|1.629)
24967,(99.000|0.812),(99.000|0.175),(99.000|0.286),(99.000|-1.239),(99.000|0.461),(99.000|1.586),(99.000|-0.485),(99.000|-0.406),(99.000|-0.544),(99.000|1.290),...,(99.000|2.469),(99.000|1.129),(99.000|2.769),(99.000|1.504),(99.000|0.976),(99.000|1.339),(99.000|1.828),(99.000|0.866),(99.000|0.208),(99.000|1.523)
24968,(99.000|1.236),(99.000|0.378),(99.000|0.479),(99.000|-1.771),(99.000|0.634),(99.000|2.402),(99.000|-0.593),(99.000|-0.731),(99.000|-0.869),(99.000|1.720),...,(99.000|3.070),(99.000|1.685),(99.000|3.581),(99.000|1.945),(99.000|1.566),(99.000|2.280),(99.000|2.391),(99.000|1.356),(99.000|0.237),(99.000|2.345)
24969,(99.000|0.712),(99.000|0.494),(99.000|0.498),(99.000|-0.841),(99.000|0.426),(99.000|1.667),(99.000|-0.179),(99.000|-0.515),(99.000|-0.377),(99.000|1.258),...,(99.000|1.758),(99.000|1.216),(99.000|2.381),(99.000|0.978),(99.000|0.639),(99.000|1.423),(99.000|1.292),(99.000|0.919),(99.000|-0.131),(99.000|1.128)
24970,(99.000|0.763),(99.000|0.327),(99.000|0.356),(99.000|-1.047),(99.000|0.427),(99.000|1.474),(99.000|-0.354),(99.000|-0.483),(99.000|-0.547),(99.000|1.004),...,(99.000|1.884),(99.000|1.022),(99.000|2.177),(99.000|1.219),(99.000|0.866),(99.000|1.322),(99.000|1.412),(99.000|0.856),(99.000|0.032),(99.000|1.305)
24971,(99.000|1.141),(99.000|0.362),(99.000|0.740),(99.000|-1.081),(99.000|0.655),(99.000|1.877),(99.000|0.045),(99.000|-0.476),(99.000|-0.299),(99.000|1.726),...,(99.000|2.114),(99.000|1.618),(99.000|2.741),(99.000|1.094),(99.000|0.989),(99.000|1.556),(99.000|2.187),(99.000|0.989),(99.000|0.166),(99.000|1.691)
24972,(99.000|0.900),(99.000|0.143),(99.000|0.451),(99.000|-1.050),(99.000|0.467),(99.000|1.529),(99.000|-0.190),(99.000|-0.352),(99.000|-0.309),(99.000|1.448),...,(99.000|1.988),(99.000|1.424),(99.000|2.488),(99.000|1.015),(99.000|1.090),(99.000|1.505),(99.000|1.700),(99.000|0.640),(99.000|0.154),(99.000|1.223)
24973,(99.000|0.877),(99.000|0.213),(99.000|0.299),(99.000|-0.858),(99.000|0.240),(99.000|1.421),(99.000|-0.320),(99.000|-0.346),(99.000|-0.281),(99.000|1.058),...,(99.000|2.175),(99.000|1.521),(99.000|2.268),(99.000|1.273),(99.000|0.902),(99.000|1.217),(99.000|1.805),(99.000|0.575),(99.000|0.324),(99.000|1.230)
24974,(99.000|0.712),(99.000|0.308),(99.000|0.184),(99.000|-1.108),(99.000|0.424),(99.000|1.172),(99.000|-0.360),(99.000|-0.488),(99.000|-0.609),(99.000|0.639),...,(99.000|1.440),(99.000|0.670),(99.000|1.623),(99.000|1.189),(99.000|0.917),(99.000|1.388),(99.000|0.996),(99.000|0.750),(99.000|-0.213),(99.000|1.263)
24975,(99.000|0.939),(99.000|0.356),(99.000|0.322),(99.000|-1.347),(99.000|0.600),(99.000|1.404),(99.000|-0.444),(99.000|-0.501),(99.000|-0.651),(99.000|0.983),...,(99.000|2.051),(99.000|0.856),(99.000|2.322),(99.000|1.548),(99.000|1.221),(99.000|1.808),(99.000|1.296),(99.000|0.811),(99.000|-0.237),(99.000|1.453)
24976,(99.000|0.928),(99.000|0.401),(99.000|0.279),(99.000|-1.276),(99.000|0.417),(99.000|1.520),(99.000|-0.469),(99.000|-0.490),(99.000|-0.483),(99.000|1.098),...,(99.000|2.199),(99.000|1.364),(99.000|2.470),(99.000|1.418),(99.000|1.216),(99.000|1.725),(99.000|1.499),(99.000|0.562),(99.000|-0.121),(99.000|1.120)
24977,(99.000|0.911),(99.000|0.055),(99.000|0.369),(99.000|-1.477),(99.000|0.731),(99.000|1.640),(99.000|-0.338),(99.000|-0.523),(99.000|-0.743),(99.000|1.356),...,(99.000|2.039),(99.000|0.965),(99.000|2.583),(99.000|1.375),(99.000|1.137),(99.000|1.615),(99.000|1.588),(99.000|1.107),(99.000|-0.197),(99.000|1.637)
24978,(99.000|0.952),(99.000|-0.041),(99.000|0.317),(99.000|-1.222),(99.000|0.508),(99.000|1.527),(99.000|-0.304),(99.000|-0.484),(99.000|-0.675),(99.000|1.064),...,(99.000|1.882),(99.000|1.178),(99.000|2.114),(99.000|1.300),(99.000|1.142),(99.000|1.447),(99.000|1.694),(99.000|1.017),(99.000|0.143),(99.000|1.714)
24979,(99.000|0.998),(99.000|0.412),(99.000|0.700),(99.000|-1.082),(99.000|0.619),(99.000|1.808),(99.000|-0.077),(99.000|-0.509),(99.000|-0.463),(99.000|1.514),...,(99.000|1.942),(99.000|1.218),(99.000|2.533),(99.000|1.078),(99.000|1.010),(99.000|1.609),(99.000|1.864),(99.000|1.089),(99.000|0.240),(99.000|1.803)
24980,(99.000|1.375),(99.000|0.454),(99.000|0.803),(99.000|-1.616),(99.000|0.750),(99.000|2.618),(99.000|-0.421),(99.000|-0.827),(99.000|-0.868),(99.000|1.878),...,(99.000|2.967),(99.000|2.046),(99.000|3.627),(99.000|1.751),(99.000|1.550),(99.000|2.353),(99.000|2.374),(99.000|1.485),(99.000|0.096),(99.000|2.077)
24981,(99.000|1.095),(99.000|0.177),(99.000|0.490),(99.000|-1.701),(99.000|0.779),(99.000|1.901),(99.000|-0.375),(99.000|-0.553),(99.000|-0.769),(99.000|1.634),...,(99.000|2.438),(99.000|1.115),(99.000|2.988),(99.000|1.532),(99.000|1.433),(99.000|1.861),(99.000|2.110),(99.000|1.166),(99.000|0.154),(99.000|2.114)
24982,(99.000|0.901),(99.000|0.424),(99.000|0.303),(99.000|-1.407),(99.000|0.407),(99.000|1.800),(99.000|-0.559),(99.000|-0.532),(99.000|-0.578),(99.000|1.326),...,(99.000|2.524),(99.000|1.372),(99.000|2.871),(99.000|1.515),(99.000|1.228),(99.000|1.714),(99.000|1.859),(99.000|0.785),(99.000|0.190),(99.000|1.533)

In [44]:
test_data = orig_data.copy().values
valid_index = data.shape[0] - valid_count
valid_error = []
print(valid_index)
print(test_data.shape)

22485
(24983, 100)

In [48]:
for user_id in range(valid_index, latent_user_preferences.shape[0]):
    for joke_id in range(0, latent_jokes_features.shape[0]):
        rating = test_data[user_id][joke_id]
        if(rating != 99):
            pred = predictions[user_id][joke_id]
            valid_error.append(pred - rating)
valid_mse = (np.array(valid_error) ** 2).mean()

In [49]:
print(valid_mse)

26.74079549952756